@import "tailwindcss";


@theme {
  --breakpoint-s: 370px;
  --breakpoint-m: 420px;
  --breakpoint-l: 500px;
  --breakpoint-xl: 800px;
  --breakpoint-2xl: 1000px;
  --breakpoint-3xl: 1200px;
  --breakpoint-4xl: 1300px;
  --breakpoint-5xl: 1400px;
  --breakpoint-6xl: 1500px;
  --breakpoint-7xl: 1600px;
  --breakpoint-8xl: 1700px;
  --breakpoint-9xl: 1800px;
  --breakpoint-10xl: 1900px;
  --breakpoint-11xl: 2100px;
  --breakpoint-12xl: 2460px;
}

html {
  scroll-behavior: smooth;
}



/* @keyframes aura-move {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(1deg);
    opacity: 1;
  }
  100% {
    transform: scale(2) rotate(0deg);
    opacity: 1;
  }
}

.animate-aura-move {
  animation: aura-move 4s ease-in-out infinite;
} */


@keyframes circle-size {
  from {
      width: 50px;
      height: 50px;
  }
  to {
      width: 50px;
      height: 50px;
  }
}


@keyframes shadow-rotate {
  from {
      transform:  rotate(0deg);
  }
  to {
      transform:  rotate(360deg);
  }
}

.circle-animation{
  box-shadow: -20px 20px 30px 15px #FFE6C9, -5px -20px 30px 15px #C8FFBF, 20px 0px 30px 15px #BBEFFF;
  animation: shadow-rotate 8s linear infinite;
  transform-origin: center
}


.shinebtn {
  position: relative;
  overflow: hidden;
}

.shinebtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  
  
  transition: var(--shine-transition);
}

.shinebtn-hover:hover {
  box-shadow: var(--btn-shadow);
}

.shinebtn-hover:hover::before {
  left: 100%;
filter: blur(30px);
  background: var(--shine-effect);

}


.shinebtn1 {
  position: absolute;
  overflow: hidden;
}

.shinebtn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  
  
  transition: var(--shine-transition);
}

.shinebtn1-hover:hover {
  box-shadow: var(--btn-shadow);
}

.shinebtn1-hover:hover::before {
  left: 100%;
filter: blur(30px);
  background: var(--shine-effect);

}

:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: transparent;
  --btn-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.2);
  --btn-text-color: #f4f4f4;

  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.63s ease-in-out;
}



/*Coin flip start*/

.tip-button {
  background: none;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  height: 3rem;
  text-align: left;
   padding-left: 1rem;
  margin-bottom: -4rem;
  outline: 0;
  position: relative;
  top: 0;
  transform-origin: 0% 100%;
  transition: transform 50ms ease-in-out;
  width: 12rem;
  -webkit-tap-highlight-color: transparent;
}
.tip-button:active {
  transform: rotate(4deg);
}
.tip-button.clicked {
  animation: 150ms ease-in-out 1 shake;
  pointer-events: none;
}
.tip-button.clicked .tip-button__text {
  opacity: 0;
  transition: opacity 100ms linear 200ms;
}
.tip-button.clicked::before {
  height: 0.5rem;
  width: 60%;
}
.tip-button.clicked .coin {
  transition: margin-bottom 1s linear 200ms;
  margin-bottom: 0;
}
.tip-button.shrink-landing::before {
  transition: width 200ms ease-in;
  width: 0;
}
.tip-button.coin-landed::after {
  opacity: 1;
  transform: scale(1);
  transform-origin: 50% 100%;
}
.tip-button.coin-landed .coin-wrapper {
  background: radial-gradient(circle at 35% 97%, rgba(3, 16, 50, 0.4) 0.04rem, transparent 0.04rem), radial-gradient(circle at 45% 92%, rgba(3, 16, 50, 0.4) 0.04rem, transparent 0.02rem), radial-gradient(circle at 55% 98%, rgba(3, 16, 50, 0.4) 0.04rem, transparent 0.04rem), radial-gradient(circle at 65% 96%, rgba(3, 16, 50, 0.4) 0.06rem, transparent 0.06rem);
  background-position: center bottom;
  background-size: 100%;
  bottom: -1rem;
  opacity: 0;
  transform: scale(2) translateY(-10px);
}
.tip-button__text {
  color: #fff;
  opacity: 1;
  position: relative;
  transition: opacity 100ms linear 500ms;
  z-index: 3;

}
.tip-button::before {
  background: #303030;
  border-radius: 0.25rem;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: height 250ms ease-in-out 400ms, width 250ms ease-in-out 300ms;
  width: 100%;
  z-index: 2;
}
.tip-button::after {
  bottom: -1rem;
  color: #031032;
  /* content: "Thank you!"; */
  height: 110%;
  left: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  text-align: center;
  transform: scale(0);
  transform-origin: 50% 20%;
  transition: transform 200ms cubic-bezier(0, 0, 0.35, 1.43);
  width: 100%;
  z-index: 1;
}

.coin-wrapper {
  background: none;
  bottom: 0;
  height: 18rem;
  left: 0;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transform: none;
  transform-origin: 50% 100%;
  transition: opacity 200ms linear 100ms, transform 300ms ease-out;
  width: 100%;
}

.coin {
  --front-y-multiplier: 0;
  --back-y-multiplier: 0;
  --coin-y-multiplier: 0;
  --coin-x-multiplier: 0;
  --coin-scale-multiplier: 0;
  --coin-rotation-multiplier: 0;
  --shine-opacity-multiplier: 0.4;
  --shine-bg-multiplier: 50%;
  bottom: calc(var(--coin-y-multiplier) * 1rem - 3.5rem);
  height:4rem;
  margin-bottom:  calc(var(--coin-y-multiplier) * -1rem + 3rem);
  position: absolute;
  right: calc(var(--coin-x-multiplier) * 34% + 12%);
  transform: translateX(50%) scale(calc(0.4 + var(--coin-scale-multiplier))) rotate(calc(var(--coin-rotation-multiplier) * -1deg));
  transition: opacity 100ms linear 200ms;
  width: 4rem;
  z-index: 3;
}
.coin__front, .coin__middle, .coin__back, .coin::before, .coin__front::after, .coin__back::after {
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.coin__front {

  background-size: 100% 100%;
  background-position: center;
  transform: translateY(calc(var(--front-y-multiplier) * 0.3181818182rem / 2)) scaleY(var(--front-scale-multiplier));
}

/* .coin__middle {
  background: #737c99;
  transform: translateY(calc(var(--middle-y-multiplier) * 0.3181818182rem / 2)) scaleY(var(--middle-scale-multiplier));
} */
.coin__back {
 
  background-size: 100% 100%;
  transform: translateY(calc(var(--back-y-multiplier) * 0.3181818182rem / 2)) scaleY(var(--back-scale-multiplier));
}

.coin::before {
  /* background: radial-gradient(circle at 25% 65%, transparent 50%, rgba(255, 255, 255, 0.9) 90%), linear-gradient(55deg, transparent calc(var(--shine-bg-multiplier) + 0%), #e9f4ff calc(var(--shine-bg-multiplier) + 0%), transparent calc(var(--shine-bg-multiplier) + 50%)); */
  content: "";
  opacity: var(--shine-opacity-multiplier);
  transform: translateY(calc(var(--middle-y-multiplier) * 0.3181818182rem / -2)) scaleY(var(--middle-scale-multiplier)) rotate(calc(var(--coin-rotation-multiplier) * 1deg));
  z-index: 10;
}
.coin::after {
  background: #737c99;
  content: "";
  height: 0.3181818182rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2;
}

@keyframes shake {
  0% {
    transform: rotate(4deg);
  }
  66% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate();
  }
}




/* Email me Rotation  */

.emailrotation {
 
  transition: 4s;
  transform-style: preserve-3d;
  transform: perspective(62.5rem) rotateX(0deg);
}


.emailrotation:hover {
  transform: perspective(62.5rem) rotateX(360deg);
}

.emailrotation:hover span {
  color: #fff;
  font-weight: 500;
  background: rgba(3, 169, 244, 0.8);
}
.emailrotation:hover span svg path {
fill:#fff;
}



.emailrotation span:nth-child(1) {
  transform: rotateX(360deg) translateZ(2.875rem);
}
.emailrotation span:nth-child(2) {
  transform: rotateX(270deg) translateZ(2.875rem);
}
.emailrotation span:nth-child(3) {
  transform: rotateX(180deg) translateZ(2.875rem);
}
.emailrotation span:nth-child(4) {
  transform: rotateX(90deg) translateZ(2.875rem);
}





select {
  appearance: none; /* Removes default styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('/arrow.svg') no-repeat right 16px center; /* Adjust position */
  /* Adds space for the arrow */
}



/* dropdown css  */

.dropdown_menu li {
  width:100%;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  opacity: 0;
}
.dropdown_menu li:hover {
 background: #DEF2FA;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100.4%;
  
  
}
.dropdown {
 
  z-index: 100;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.dropdown_menu-4 .dropdown_item-1 {
  transform-origin: top center;
  animation: scaleZ 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-2 {
  transform-origin: top center;
  animation: scaleZ 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-3 {
  transform-origin: top center;
  animation: scaleZ 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-4 {
  transform-origin: top center;
  animation: scaleZ 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-5 {
  transform-origin: top center;
  animation: scaleZ 300ms 360ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-6 {
  transform-origin: top center;
  animation: scaleZ 300ms 420ms ease-in-out forwards;
}
.dropdown_menu-4 .dropdown_item-7 {
  transform-origin: top center;
  animation: scaleZ 300ms 480ms ease-in-out forwards;
}


@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}





.img-wrapper{
  animation: float 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}







.glow-button {
  --button-background: #303030;
  --button-color: #fff;
  --button-shadow: rgba(33, 4, 104, 0.2);
  --button-shine-left: #616161;
  --button-shine-right: #888888;
  --button-glow-start: #3e3e3e;
  --button-glow-end: #44423b;

  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;

  position: relative;
  cursor: pointer;
  color: var(--button-color);
  padding: 0;
  margin: 0;
    background: none;
  z-index: 1;
  box-shadow: 0 8px 20px var(--button-shadow);

  .gradient {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    transform: scaleY(1.05) scaleX(1.005) rotate(-.10deg);

    &:before {
      content: '';
      position: absolute;
    
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1.80) translateY(-44px) rotate(0deg) translateZ(0);
      padding-bottom: 100%;
      border-radius: 50%;
      background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
      animation: rotate linear 2s infinite;
    }
  }

  .gloweffect {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-radius: inherit;
    background-color: var(--button-background);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:before {
      content: '';
      position: absolute;
      left: -16px;
      top: -16px;
      transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px)) translateZ(0);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      z-index:-1;
      background-color: var(--button-glow, transparent);
      opacity: var(--button-glow-opacity, 0);
      transition: opacity var(--button-glow-duration, .5s);
      filter: blur(20px);
    }
  }

  &:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: .25s;
  }
}

@keyframes rotate {
  to {
    transform: scale(1.80) translateY(-4rem) rotate(360deg) translateZ(0);
  }
}
